
body {
    background-color: aliceblue;
}
form {
    background-color: #ffffff;
    border: 1px solid;
    margin-left: 100px;
    margin-right: 100px;

}
form input, select{
    height: 25px;
    width: 70px;
}
h1 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
textarea {
    width: 98%;
    margin: 0;
}
input[type=radio]{
    width: 10px;
    height: 10px;
align-items: center;
}
input[type=radio]{
    width: 10px;
    height: 10px;
align-items: center;
}
em {
    color: red;
}
#first {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
#second {
    color: red;
    text-align: center;
}
#table1-select1{
    width: 200px;
    margin-left: 100px;
}
#namee {
    width: 200px;
}
#yearborn {
    width: 70px;
    text-align-last: right;
}
#gd {
    width: 70px;
}
#nd {
    width: 100px;
}
#identify {
    width: 300px;
}
#box {
    width: 10px;
    height: 10px;
}

#needajust {
    width: 200px;
}
#ajust {
    width: 80px;
}
#city {
    width: 100px;
}
#address {
    width: 300px%;
}
#bigger {
    width: 70%;
}
#living {
    width: 227%;
}
#live {
    width: 280%;
}

#id {
    width: 100px;
}
#tablegod{
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
    width: 100%;
}
#tablegod td, th {
    border: 1px solid;
}
#tablegod th {
    background-color: #f2f2f2;
}
#firsttr {
    background-color: #f2f2f2;
}

#weird {
    color:black;
}
#bold {
    font-weight: bold;
}
#table2 {
    width:100%;

}
#table4 {
    width: 100%;
}
#table5 {
    width: 100%;
}
#yearborn {
    margin-left: 100px;
}
#character {
    margin-left: 104px;
}
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);

    
